* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #F4F1F1;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: #1f368f;
  font-size: 36px;
  padding: 20px;
  margin-top: 38px;
}
h3 {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------CONTAINERS---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*sections*/
.container {
  width: 100vw;
  min-height: 80vh;
  padding: 20px;
  /*background-color: #fcfcfc */
}

/*.container h3{
  text-align:center;
  padding: 10px;
}*/

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------navigation bar---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  z-index: 8; /*navbar is able to go over all elements, including ones with low opacity*/
  overflow-x: hidden;
  width: 100%;
  background-color: #829CD0;
  font-size: 20px;
}

nav {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#home-link {
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  height: 100%;
  padding: 26px 13px 26px 13px;
  display: inline-block;
  color: #EBEBEB;
}
.links {
  display: flex;
}
.nav-option {
  font-size: 21px;
  height: 100%;
  padding-right: 20px;
  padding: 26px 13px 26px 13px;
  color: #EBEBEB;
}
.nav-option:hover {
  background-color: #EBEBEB;
  transition: 0.4s ease-in-out;
  color: #829CD0;
}
#icon {
  display: none;
  font-size: 25px;
}
/*///side bar///*/
.cover {
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed; /* Stay in place */
}
.side-bar {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #829CD0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 0;
  transition: 0.5s;
}
.side-bar a {
  font-size: 21px;
  color: #EBEBEB;
  font-family: "Roboto", sans-serif;
  padding: 10px 0 10px 30px;
}
.side-bar a:hover {
  background-color: #EBEBEB;
  transition: 0.4s ease-in-out;
  color: #829CD0;
}
#close {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #EBEBEB;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------intro section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.intro {
  display: flex;
  align-items: center;
  background-image: url("https://cdn.glitch.com/d5ba8bc0-b7fc-4e58-96f8-391f210cb600%2Fsentiment.png?v=1624945903814");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(250, 250, 250, 0.65);
  height: 100vh;
}
.intro div {
  position: relative;
  padding: 40px 0 0 40px;
  width: 85%;
}
.intro h2 {
  margin: 20px;
  font-style: italic;
  color: #829CD0;
  font-size: 24px;
}
.button-display {
  background-color: #20368F;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 12px;
  border-radius: 5px;
  /* margin-left:20px;*/
}
.button-display:hover {
  background-color: #324BAD;
  transition: 0.4s ease-in-out;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------overview section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.overview h2 {
  margin: 0px;
  padding: 8px;
}
.overview h3 {
  padding: 10px;
}
.overview div {
  width: 470px;
  padding-left: 20px;
}
.overview img {
  width: 50%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------product section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*.product{
  height:80vh;
}*/
.product h2 {
  text-align: center;
}
.product h3 {
  text-align: center;
  font-style: italic;
  color: #829CD0;
  font-size: 20px;
}
.sentiment-text {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.select-sentiment textarea {
  margin: 20px 0 20px 0;
  width: 100%;
  height: 50px;
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
}
.choose-sentiment,
.choose-open {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  height: 50px;
  border-radius: 0px;
  border: none;
  background-color: #98B7E4;
  border: solid 0.5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  margin: 0 0 -1px 0;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}
.choose-open:after {
  content: "\2212";
  float: right;
  margin-left: 10px;
}
.choose-sentiment:after {
  content: "\002B";
  float: right;
  margin-left: 10px;
}
input[type="radio"] {
  width: 22px;
  cursor: pointer;
}
.input {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #D1D1D1;
  border: solid 0.5px rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: -1px;
}
.input label {
  cursor: pointer;
}
.input img {
  width: 30px;
  margin: 0 10px 0 30px;
}
#generate {
  outline: none;
  resize: none;
  font-family: "Open Sans", sans-serif;
  margin-left: 20px;
  width: 50%;
  height: 300px;
}
#content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------motives section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.motives {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.description {
  padding: 30px;
  width: 500px;
}
.description-img {
  width: 50%;
  max-height: 500px;
}
.motives p {
  margin-left: 20px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------methods section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.methods h2 {
  font-size: 36px;
  padding: 23px;
  margin-top: 38px;
  text-align: center;
}
.methods h3 {
  text-align: center;
}
.method-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.method {
  width: 350px;
  margin: 40px 25px 20px 25px;
  padding: 15px;
  text-align: center;
  background-color: ;
}
.method p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}
.method a {
  margin: 20px;
}
.method img {
  width: 100px;
}
.algorithms-container {
  /*width:40%;
  margin-left:30%;*/ /*finally this part is centered!*/
  padding: 25px;
}

.gpt-description {
  background-color: #E2ECFF;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.high-level ol {
  padding-left: 20px;
}
.gpt-description img {
  width: 45%;
}
.algorithms-container h4 {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 10px 0 10px 0;
  color: #7C96CB;
}
.high-level,
.self-attention {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}
.gpt-text {
  padding: 20px;
  width: 500px;
}

.approach-steps {
  display: flex;
  justify-content: center;
  /*flex-wrap:wrap;*/
  /* align-items:center;*/
}
.step {
  /*width:100%;*/
  padding: 15px;
  text-align: center;
  background-color: #E2ECFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.step p {
  margin-top: 15px;
}
.step span {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  border: solid 1px;
  background-color: #20368F;
  color: #ffffff;
}
.arrow {
  padding: 10px;
  font-size: 45px;
}
.arrow::before {
  content: "\2192";
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------students section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.student-card {
  width: 45%;
  background-color: #FDFDFD;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.student-description h3 {
  color: #829CD0;
  font-size: 22px;
  padding: 0;
}
.student-description p {
  padding: 15px;
}
.role {
  font-style: italic;
  color: #829CD0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.students h2 {
  text-align: center;
}
.student-card img {
  float: right;
  width: 180px;
  padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------footer section---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
footer {
  width: 100%;
  background-color: #829CD0;
  color: ;
  padding: 20px;
  text-align: center;
  color: #EBEBEB;
}
.ai-camp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ai-camp h2 {
  padding: 0;
  margin: 0 20px 0 0;
  color: #EBEBEB;
}
.ai-camp img {
  width: 90px;
  background-color: #1bbb62;
  border-radius: 50%;
  padding: 5px;
}
footer .button-display {
  margin: 20px;
}
footer p {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------responsiveness---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 800px) {
  /*-----navigation bar------*/
  .nav-option:not(:last-child) {
    display: none;
  }
  #icon {
    display: block;
  }
  /*-----navigation bar------*/
  .student-card {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  /*-----navigation bar------*/
  .side-bar {
    display: none;
  }
  #cover {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  /*-------overview-------*/

  .overview div {
    width: 90%;
  }
  .overview img {
    width: 80%;
  }
  /*-------motives-------*/

  .description {
    width: 90%;
  }
  .description-img {
    width: 80%;
  }
  /*-------our approach steps-------*/
  .approach-steps {
    flex-wrap: wrap;
  }
  .arrow::before {
    content: "\2193";
  }
}
/*product*/
@media screen and (max-width: 750px) {
  #generate {
    width: 90%;
    margin: 15px;
  }
}