<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Sentiment Text Generator Static Page" />
    <link rel="icon" href="" />

    <title>Sentiment Text Generator</title>


    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <!-- font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- Import the webpage's javascript file -->
    <script src="{{ url_for('static', filename='script.js')}}" defer></script>
  </head>
  <!--BODY: ALL HTML ELMENTS GO WITHIN THIS TAG-->
  <body>
    <header>
      <nav>
        <div>
          <a href="." id="home-link">Sentiment Text Generator</a>
        </div>
        <div class="links">
          <a class="nav-option" href="#overview">Overview</a>
          <a class="nav-option" href="#product">Product</a>
          <a class="nav-option" href="#motives">Motive</a>
          <a class="nav-option" href="#methods">Methods</a>
          <a class="nav-option" href="#students">Students</a>
          <a class="nav-option" href="https://www.ai-camp.org/" target="_blank"
            >Join AI Camp</a
          >
          <a
            class="nav-option"
             id="icon"
            href="javascript:void(0);"
            onclick="makeResponsive()"
          >
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <!--//////////////////////////////////////SIDE NAV BAR////////////////////////////////////-->
      <div class="cover" id="cover"></div>
        <div class="side-bar" id="side-bar">
          <span id="close" onclick="closeSideBar()">&times;</span>
          <a href="#overview" onclick="closeSideBar()">Overview</a>
          <a href="#product" onclick="closeSideBar()">Product</a>
          <a href="#motives" onclick="closeSideBar()">Motive</a>
          <a href="#methods" onclick="closeSideBar()">Methods</a>
          <a href="#students" onclick="closeSideBar()">Students</a>
          <a href="https://www.ai-camp.org/" target="_blank"
            >Join AI Camp</a
          >
        </div>

      
      <!--//////////////////////////////////////INTRO SECTION////////////////////////////////////-->
      <div class="intro">
        <div>
          <h1>
            Sentiment Text Generator
          </h1>
          <h2>
            We built and trained an NLP model that generates text based on user
            prompt and selected sentiment.
          </h2>
          <br />
          <a href="#product" class="button-display">
            Try the product here!
          </a>
        </div>
      </div>

      <!--//////////////////////////////////////OVERVIEW SECTION////////////////////////////////////-->
      <div class="overview container" id="overview">
        <img src={{url_for('static', filename='assets/typing.jpeg')}}/>
        <div>
          
        
        <h2>
          Product Overview
        </h2>
        <h3>
          What the product does
        </h3>
        <p>
          We want to create a text generation model that will generate text with
          the specific parameter of mimicking a human emotion. The user can
          select an emotion that they want the model to base the text on, and
          the model will then create text of the user's choosing and centering
          it on the emotion it is supposed to portray.
        </p>
        <h3>
          How the product works
        </h3>
        <p>
          In order to try the product, you first select an emotion (positive or
          negative), enter a brief prompt to begin your text and, then click
          "generate". The text box then generates a paragraph that builds off of
          the user's prompt and is able to express satisfaction or displeasure.
        </p>
          </div>
      </div>

      <!--//////////////////////////////////////PRODUCT SECTION////////////////////////////////////-->

      <div class="product container" id="product">
        <h2>
          Try the product
        </h2>
        <h3>
          Choose a sentiment, enter a prompt, click "generate"! When the page reloads, scroll to see your text.
        </h3>
        <!--<a href="https://icons8.com/icon/676/happy">Icons by Icons8</a>-->
        <div class="sentiment-text">
          <form name="form" action="{{ url_for('result') }}" method="POST">
            <div class="select-sentiment">
              <div class="choose-sentiment" id="open-sentiment">
                Choose a sentiment...
              </div>
              <div id="content">
                <div class="input">
                  <input
                    required
                    type="radio"
                    name="sentiment"
                    value="positive"
                    id="positive"
                  /><label class="label" for="positive"
                    >Positive (e.g excited, happy)</label
                  >
                  <img
                    src="https://img.icons8.com/ios/50/000000/happy--v1.png"
                  />
                </div>
                <div class="input">
                  <input
                    required
                    type="radio"
                    name="sentiment"
                    value="negative"
                    id="negative"
                  /><label class="label" for="negative"
                    >Negative (e.g disappointed)</label
                  >
                  <img src="https://img.icons8.com/ios/50/000000/sad.png"/>
                </div>
              </div>
              <textarea
                placeholder="Enter a prompt (e.g This was an amazing product!)"
                name="prompt"
                required
              ></textarea>

              <button
                class="button-display"
                type="submit"
                id="submit"
                value="submit"
              >
                Generate
              </button>
            </div>
          </form>

          <textarea
            readonly
            placeholder="Generated text will appear here..."
            id="generate"
          >{{generated}}
          </textarea>
        </div>
      </div>

      <!--//////////////////////////////////////MOTIVES SECTION////////////////////////////////////-->

      <div class="motives container" id="motives">
        <div class="description">
          <h2>
            Why this product?
          </h2>
          <h3>
            Expressing sentiment through your text
          </h3>
          <p>
            We want our tool to be a helpful and efficient text generator for
            people to use when drafting emails, speeches, product reviews, or
            other things that require sentiment and tone. It will also help
            businesses understand their customer's clear opinions and make
            precise decisions based on a clear expression of emotion.
          </p>
        </div>
        <!--<div class="description-img">-->
            <img
          class="description-img"
          src={{url_for('static', filename="assets/WhyThisProduct_image.png")}}
          alt="Images with people and emotions"
/>
        <!--</div>-->
      </div>

      <!--//////////////////////////////////////METHODS SECTION////////////////////////////////////-->
      <div class="methods container" id="methods">
        <h2>
          Methods
        </h2>
        <div class="method-cards">
          <div class="method">
            <img
              src={{url_for('static', filename='assets/Datasets_image.png')}}
            />
            <h3>
              Datasets
            </h3>
            <p>
              The best place to learn about simple emotions is online reviews,
              thus we are using the "Amazon Reviews for Sentiment Analysis"
              dataset from the website Kaggle in order to train the model. Our
              pre-processing consisted of splitting reviews into positive and
              negative categories and removing labels.
            </p>
            <br />
            <a
              class="button-display"
              href="https://www.kaggle.com/bittlingmayer/amazonreviews"
              target="_blank"
              >View</a
            >
          </div>

          <div class="method">
            <img
              src={{url_for('static', filename='assets/GPTmodel_image.png')}}
            />
            <h3>
              GPT Model
            </h3>
            <p>
              We're also using GPT by EleutherAI. GPT is a language model that
              uses deep learning to generate human-like text, (which can also
              include code, stories, poems, etc.) in a matter of seconds. GPT
              uses methods ranging from self-attention to probability
              distribution to produce one token after another with a user
              prompt.
            </p>
            <br />
            <a
              class="button-display"
              href="https://github.com/minimaxir/aitextgen"
              target="_blank"
              >View</a
            >
          </div>

          <div class="method">
            <img
              src={{url_for('static', filename='assets/JupyterNotebooks_image.png')}}
            />
            <h3>
              Jupyter Notebooks
            </h3>
            <p>
              We used Jupyter Notebooks on the Cocalc servers to learn Python
              basics and practice using libraries like NumPy and NLTK. We also
              used this platform and the skils we learned (splitting, loops,
              lists) to clean our dataset. Overall, we learned many skills with
              this resource that we were able to apply to our project.
            </p>
            <br />
            <a
              class="button-display"
              href="https://jupyter.org/"
              target="_blank"
              >View</a
            >
          </div>
        </div>
                <!--//////GPT ALGORITHMS MINI SECTION//////-->
        <div class="algorithms-container">
          <h3>
            GPT Algorithms
          </h3>
          <div class="gpt-description">
            <div class="high-level">
              <img
                src={{url_for('static', filename='assets/HighLevelExplanation_image.png')}}
              />

              <div class="gpt-text">
                <h4>
                  High Level Explanation
                </h4>

                <ol>
                  <li>
                    GPT 3 uses a model called a transformer. Transformers are
                    deep learning models that use attention mechanisms to weigh
                    the importance of different words.
                  </li>
                  <li>
                    This allows it to use something called token probability
                    distribution to assign a score based on likelihood of a
                    certain word coming after another word.
                  </li>
                  <li>
                    GPT 3 selects the word with the highest likelihood score
                    after each word to piece together sentences.
                  </li>
                </ol>
              </div>
            </div>
            <br />
            <div class="self-attention">
              <div class="gpt-text">
                <h4>
                  Self-Attention
                </h4>
                <p>
                  GPT-3 uses something called self-attention in order to focus
                  on the words that are most important. It does this by taking
                  in the understanding of other associated words that serve as
                  relevant context to the word that will be processed. This
                  allows GPT-3 to focus on only the most important words, making
                  the results more accurate. The word being process has a query
                  representation of the words that will be used against the
                  other words. All the other words have keys that identify them
                  and value vectors that are calculated to find the relevancy to
                  the word being processed.
                </p>
              </div>
              <img
                src={{url_for('static', filename='assets/Self-Attention_image.png')}}
              />
            </div>
          </div>

          <br />
          <div class="approach">
            <h4 style="text-align:center"><u>
              Our Approach</u>
            </h4>
            <div class="approach-steps">
              <div class="step">
                 <span>1</span>
                <p>
                  We researched GPT and familiarized ourselves with the
                  concepts, then we decided to utilize the AITextGen tool to
                  build and train a model for our project.
                </p>
              </div>
              <span class="arrow"></span>
              <div class="step">
                <span>2</span>
                <p>
                  We cleaned our Amazon Review Dataset by splitting it into
                  positive and negative reviews and removing labels with Python.
                </p>
              </div>
              <span class="arrow"></span>
              <div class="step">
                 <span>3</span>
                <p>
                  We researched the purpose of the model parameters and trained
                  an instance of our model with initial values for the
                  parameters.
                </p>
              </div>
              <span class="arrow"></span>
              <div class="step">
                 <span>4</span>
                <p>
                  After testing our model with prompts, we began the process of
                  hypertuning: adjusting the paramaters, and increasing the
                  amount of data in order to increase the accuracy of our model.
                  We adjusted the learning rate, training time, and number of
                  lines of preprocessed data.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--//////////////////////////////////////STUDENTS SECTION////////////////////////////////////-->
      <div class="students container" id="students">
        <h2>
          Meet the students!
        </h2>
        <div class="card-container">
          <!--verina's card-->
          <div class="student-card">
            <img
              src={{url_for('static', filename='assets/Verina.jpg')}}
            />
            <div class="student-description">
            <h3>
              Verina Ko
            </h3>
              <h4 class="role">Data Scientist, Web Developer</h4>
            <p>
              <!--<b><u>Role:</u></b> Data Scientists, Web Developer
              <br />
              <b><u>School:</u></b> Diamond Bar High School
              <br />
              <b><u>Fun Fact:</u></b> Loves shopping during free time.-->
              Verina will be a junior at Diamond Bar High School this fall. She enjoys shopping in her free time.
            </p>
              </div>
          </div>
          <!--issac's card-->
          <div class="student-card">
            <img src={{url_for('static', filename='assets/Isaac.png')}}>
            <div class="student-description">
              <h3>
          Isaac Choi
        </h3>
              <h4 class="role">
                Product Manager, Web Developer
              </h4>
              <p>
                Isaac will be a freshman at University Preparatory Academy this fall. He likes discussing history facts.
              </p>
            </div>
            
          </div>
          <!--claire's card-->
          <div class="student-card">
            <img src={{url_for('static', filename='assets/Claire.png')}}> 
            <div class="student-description">
              <h3>
                 Claire Andrzejek
              </h3>
              <h4 class="role">
                Product Manager, Web Developer
              </h4>
              <p>
               Claire will be in the eighth grade at Convent of the Sacred Heart SF this fall. She plays the cello.
              </p>
            </div>
            
          </div>
          <!--alyzee's card-->
          <div class="student-card">
            <img src={{url_for('static', filename='assets/Alyzee.png')}}> 
            <div class="student-description">
              <h3>
                Alyzee Sosa
              </h3>
              <h4 class="role">
                Machine Learning Engineer, Web Developer
              </h4>
              <p>
                 Alyzee will be a senior at Downtown Magnets High School this fall. She likes coding and hopes to pursue a technological career in college. She also likes hiking and camping with her family.
              </p>
            </div>
            
          </div>
          
          <!--raphael's card-->
          
        <div class="student-card">
            <img src={{url_for('static', filename='assets/Raphael.jpg')}}> 
            <div class="student-description">
              <h3>
                Raphael Chaumartin
              </h3>
              <h4 class="role">
                Data Scientist
              </h4>
              <p>
                Raphael will be a junior at West High School this fall. His favorite video game is Minecraft.
              </p>
            </div>
            
          </div>
          
          <!--charlotte's card-->
          <div class="student-card">
            <img src={{url_for('static', filename='assets/Charlotte.jpg')}}> 
            <div class="student-description">
              <h3>
                Charlotte Choi
              </h3>
              <h4 class="role">
                Data Scientist, Web Developer
              </h4>
              <p>
                Charlotte will be a sophomore at Dos Pueblos High School this fall. She enjoys English, History, and her school's Mock Trial program. She also plays the cello.
              </p>
            </div>
            
          </div>

          
          <!--justin's card-->
         <div class="student-card">
            <img src={{url_for('static', filename='assets/Justin.jpg')}}>  
            <div class="student-description">
              <h3>
                Justin Yi
              </h3>
              <h4 class="role">
                Product Manager
              </h4>
              <p>
                Justin was the team's amazing TA.
              </p>
            </div>
            
          </div>
        </div>
        
        
      </div>
    </main>

    <footer>
      <div class="ai-camp">
        <h2>
        Join A.I. Camp
      </h2>
            <img src={{url_for('static', filename='assets/ai_camp_logo.png')}}>

      </div>
      <h3>
        Learn A.I. in 3 weeks with zero coding experience
      </h3>
      <p>
        A.I. camp teaches middle and high school students machine learning and career frameworks through real life experience. Prepare for your major and career by joining us!
      </p>
      <br>
      <a class="button-display" href="https://www.ai-camp.org/" target="_blank">Join AI Camp</a>
    </footer>
  </body>
</html>
